.content {
  	
  	padding: 5px;
  	right: 50px;
	margin-left: 200px;
	margin-top:200px;
	
}

.item itemTitle {
	font-size: 2em;
  	padding: 0;
 	margin: 0;
  	text-align: center;
  	color: #333333;
}

.item itemTitle:hover{
  	color: #555555;
}

.item{
	background-color: #999999;
	border: 5px solid #777777;
	height: 400px;
	width: 300px;
	margin: 10px;
	float: left;
	text-align: center;
}

.item img{
	align: center;
	height: 250px;
}

.item price {
	text-align: center;
	font-size: 1.5em;
}

